
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="goToStartPage()">
    <mat-icon>graphic_eq</mat-icon>
  </button>
  <span>DREY-PLAY</span>
  <mat-slide-toggle  class="ml-5" [(ngModel)]="showPlayer"><span class="show-player-toggle">{{showPlayer? 'Скрыть плеер' : 'Показать плеер'}}</span></mat-slide-toggle>
</mat-toolbar>

<div class="mt-2"> </div>

<mat-sidenav-container>
  <mat-sidenav mode ="side" [(opened)]="showPlayer">
    <div class="container">
      <app-player></app-player>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container-fluid">
      <app-content></app-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


